html {
    padding: 0;
    margin: 0;
}

nav {
    background: #2b353e;
}

footer {
    background: #2b353e;
}

nav h2 {
    font-family: Copperplate, Arial, Helvetica;
    padding-top: 5px;
    padding-top: 5px;
}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}


#video_container {
    margin: auto;
    margin-top: 3.5rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.6);
}

#selected_time_card {
    padding: 0.5rem;
    width: fit-content;
    min-width: 10rem;
    margin: auto;
    margin-top: 3.5rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.6);
    background: linear-gradient(150deg, rgba(43,53,62,1) 0%, rgba(27,98,168,1) 100%);
}

#selected_time {
    margin: 0;
}

#no_data_message {
    margin: 138px auto;
    padding: 1rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.6);
    width: 50%;
}

#main_column {
    min-height: 690px;
}

#side_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(43,53,62,1) 0%, rgba(27,98,168,1) 50%, rgba(43,53,62,1) 100%);

}

.card {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.6);
}

.form-range::-webkit-slider-thumb {
    background: rgba(27,98,168,1)
}
  
.form-range::-moz-range-thumb {
    background: rgba(27,98,168,1)
}
  
.form-range::-ms-thumb {
    background: rgba(27,98,168,1)
}

.inset-shadow {
    box-shadow: inset 0 0 15px #000000;
}
