<!doctype html>
<html>
<head>
    <title>Python Flask - Video Play Example</title>
</head>
<body>
    <div style="margin: 10px auto;">
        <video id="my_video" autoplay="autoplay" controls="controls" preload="preload">
            <source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>
        </video>
    </div>
    <div id="timer"></div>
    <script type="text/javascript">
        var video = document.getElementById("my_video");

        video.addEventListener('timeupdate', function() {
            var hours = parseInt(video.currentTime / 3600, 10);
            var minutes = parseInt((video.currentTime % 3600) / 60, 10);
            var seconds = video.currentTime % 60;

            var timeString = hours + ":" + minutes + ":" + seconds.toFixed(0)

            document.getElementById("timer").innerHTML = timeString;
        });
    </script>
</body>
</html>
